h5{
    background-color:color(srgb red green blue);
}
label
{
    color:blue;
    text-decoration: underline red;
    font-weight: bold;

}
#pic
{
    
    background-image:url('../public/image/css.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

h6{ font-weight: bolder;}